---
import BaseLayout from "../../layouts/BaseLayout.astro";
const pageTitle = "Norwegian Wool";
---



<BaseLayout pageTitle={pageTitle}>

  <section class="section">
    <div class="container flex flex-col">
      <!-- make two cards with view transition that on click go to the coresponding songs -->
      <h3 class="pretitle">{pageTitle}</h3>
      <h1 class="title">Jamstack <br> development <br> agency</h1>
      <p class="text">Not your everyday web dev shop but a partner that will help your business grow with modern tools more than you thought it's possible.</p>
      <a class="button" href="https://bejamas.io/about/#team">Meet the Team</a>
      </div>

    </div>
  </section>
  
</BaseLayout>