---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Contact Us";
---



<BaseLayout pageTitle={pageTitle}>

  <section class="section">
    <div class="container flex flex-col">
      <!-- make two cards with view transition that on click go to the coresponding songs -->
      <h3 class="pretitle ">{pageTitle}</h3>
    
      <div class="grid gap-4">
        <p>
          <span>
            Our location
          </span>
            Vingtor of Norway, Rosenholm Campus, Rosenholmveien 25, 1414 Trollåsen, Norway 

        </p>
        <p>

          <span>
            Telephone
          </span>
          General Manager, Reidar Ydse: +47 918 69 801
        </p>
      </div>

    </div>
  </section>
  
</BaseLayout>