---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Contact Us";
---



<BaseLayout pageTitle={pageTitle}>

  <section class="section">
    <div class="container flex flex-col">
      <!-- make two cards with view transition that on click go to the coresponding songs -->
      <h3 class="pretitle ">{pageTitle}</h3>
    
      </div>

    </div>
  </section>
  
</BaseLayout>