---
import Map from "../components/Map.svelte";
import BaseLayout from "../layouts/BaseLayout.astro";

import 'leaflet/dist/leaflet.css';
const location = { latitude: 59.821977, longitude: 10.7872191 };
 
 const pageTitle = "Contact Us";

---
<BaseLayout pageTitle={pageTitle}>

  <section class="section">
    <div class="container flex flex-col">
        <div class="w-full place-self-start">
          <h3 class="pretitle ">{pageTitle}</h3>
          
          <Map client:visible {location} zoom={14}   />

 
        </div>
      </div>
    </div>
  </section>
  
</BaseLayout>