---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Information";
---



<BaseLayout pageTitle={pageTitle}>

  <section class="section">
    <div class="container flex flex-col">
      <div class="banner relative grid md:grid-cols-2 gap-10 items-center">

      <!-- make two cards with view transition that on click go to the coresponding songs -->
      <h3 class="pretitle ">{pageTitle}</h3>
    

      </div>
    </div>
  </section>
  
</BaseLayout>