---
import AlbumCard from "../components/AlbumCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
export const pageTitle = 'Music Library';

export const musicLibrary = [
  {
    title: 'VED RONDANE',
    artist: 'Edvard Grieg',
    image: 'griegmusic-thumbnail.png',
    link: 'https://vingtorofnorway.com/griegmusic/',
  },
  {
    title: 'BEDTIME SONGS',
    artist: 'Edvard Grieg',
    image: '/images/bedtime-thumbnail.jpg',
    link: 'https://vingtorofnorway.com/children/',
  },

]

---


<BaseLayout pageTitle={pageTitle}>

  <section class="section">
    <div class="container flex flex-col">
      <!-- make two cards with view transition that on click go to the coresponding songs -->
      <h3 class="pretitle ">{pageTitle}</h3>
      <div class="w-full grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-6">
        {musicLibrary.map((album, idx)=> <AlbumCard album={album} idx={idx} />)}
    
      </div>

    </div>
  </section>
  
</BaseLayout>



